<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ToDo List</title>
  <!-- TailwindCSS -->
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>

<body class="bg-gray-100 p-6">

  <!-- Header -->

  <%- include('./partials/header') %>

    <div class="max-w-3xl mx-auto bg-white rounded-lg shadow-md p-6 pt-6 mt-4">

      <!-- Title -->
      <h1 class="text-2xl font-bold text-center mb-6">Task List</h1>

      <!-- Include Add Task Form -->
      <%- include('partials/addForm.ejs'); -%>


        <!-- Include Task List -->
        <%- include('partials/taskList.ejs') -%>

    </div>

    <!-- JavaScript -->
    <script>
      function enterEditMode(taskId) {
        const taskElement = document.getElementById(`task-${taskId}`);
        const taskView = taskElement.querySelector(".task-view");
        const taskEdit = taskElement.querySelector(".task-edit");

        taskView.classList.add("hidden");
        taskEdit.classList.remove("hidden");
      }

      function exitEditMode(taskId) {
        const taskElement = document.getElementById(`task-${taskId}`);
        const taskView = taskElement.querySelector(".task-view");
        const taskEdit = taskElement.querySelector(".task-edit");

        taskView.classList.remove("hidden");
        taskEdit.classList.add("hidden");
      }
    </script>
</body>

</html>